
.calculator{
    width: 450px;
    height: 400px;
    padding: 10px;
    margin-left: 30%;
    margin-top:100px;
    
}

button{
    font-size: 1.5em;
    width: 20%;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
}

#display,#sum{
    width: 378px;
    height: 60px;
    margin: 5px 0 5px 0; 
    text-align: right;
    font-weight: bold;
    color: black; 
}

